[connection]
id=downstream-wlan0
type=wifi
interface-name=wlan0
autoconnect=true

[wifi]
mode=ap
ssid=${AP_SSID}

[wifi-security]
key-mgmt=wpa-psk
proto=rsn
group=ccmp
pairwise=ccmp
psk=${AP_PSK}

[ipv4]
method=shared
address1=${AP_SUBNET}.1/24

[ipv6]
method=ignore
