[connection]
id=${LTE_ID}
type=ethernet
interface-name=${LTE_IFACE}
autoconnect=true
never-default=true
route-metric=${LTE_METRIC}

[ethernet]

[ipv4]
method=auto
never-default=true
route-metric=${LTE_METRIC}

[ipv6]
method=auto
never-default=true

[proxy]
