[connection]
id=vodafone-lte
type=gsm
interface-name=cdc-wdm0
autoconnect=true
autoconnect-priority=40

[gsm]
apn=${VODAFONE_APN}

[ipv4]
method=auto
never-default=true
route-metric=700

[ipv6]
addr-gen-mode=default
method=auto
never-default=true

[proxy]
